<div class="container justify-content-between col-9">
    <section class="cart">
        <h5 class="row">
            КОРЗИНА ТОВАРОВ
        </h5>
        <section class="cart-main">
            <header class="cart-header">
                <div class="name">Наименование</div>
                <div class="quantity">Количество</div>
                <div class="cost">Стоимость</div>
            </header>
            <section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section>
            <section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section><section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section><section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section><section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section><section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section><section class="product">
                <div class="product-img">
                    <img src="images/icon-logo.png"/>
                </div>
                <div class="product-name">
                    <label>
                        name
                    </label>
                </div>
                <div class="product-quantity d-flex">
                    <input class="count-input" type="number" min="1" max="100" value="1">
                    <div class="count-control ">
                        <button class="quantity-up" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                        <button class="quantity-down" type="button">
                            <svg version="1.1" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 129 129" 
                                 xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 enable-background="new 0 0 129 129">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-cost">cost</div>
                <div class="product-remove">
                    <button type="button">
                        <svg fill="#000000" 
                             height="15px" 
                             width="15px" 
                             version="1.1" 
                             id="Capa_1" 
                             xmlns="http://www.w3.org/2000/svg" 
                             xmlns:xlink="http://www.w3.org/1999/xlink" 
                             viewBox="0 0 490 490" 
                             xml:space="preserve">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "/>
                        </svg>
                    </button>
                </div>
            </section>
            <section class="cart-footer">
                <label class="count"> 4 шт.</label>
                <label class="total">20000 руб.</label>
            </section>
        </section>
     </section>
</div>